/* /Pages/bikespage.razor.rz.scp.css */

.BikesContainer[b-kfq01nuhuo] {
    display:flex;
    border:2px solid black;
}
.bike[b-kfq01nuhuo] {
    border: 1px solid red;
    /*width:33%;*/
}

@media only screen and (width < 480px) {
    .BikesContainer[b-kfq01nuhuo] {
        flex-direction: column;
        border: 6px solid purple;
    }
}
/* /Pages/ChainList.razor.rz.scp.css */
/*.group
{
    border: 1px;
    border-style: solid;
    border-color: red;
    margin: 5px;
    cursor: pointer;
}*/
/* /Pages/Trips.razor.rz.scp.css */
.dataTables_length[b-yeiwo11kmh],
.dataTables_wrapper[b-yeiwo11kmh] {
    font-size: 1.6rem;
    select, input

{
    background-color: #f9f9f9;
    border: 1px solid #999;
    border-radius: 4px;
    height: 3rem;
    line-height: 2;
    font-size: 1.8rem;
    color: #333;
}

.dataTables_length[b-yeiwo11kmh],
.dataTables_filter[b-yeiwo11kmh] {
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 10px;
    display: inline-flex;
}

}

// paginate

.paginate_button[b-yeiwo11kmh] {
    min-width: 4rem;
    display: inline-block;
    text-align: center;
    padding: 1rem 1.6rem;
    margin-top: -1rem;
    border: 2px solid lightblue;
    &:not(.previous)

{
    border-left: none;
}

&.previous[b-yeiwo11kmh] {
    border-radius: 8px 0 0 8px;
    min-width: 7rem;
}

&.next[b-yeiwo11kmh] {
    border-radius: 0 8px 8px 0;
    min-width: 7rem;
}

&:hover[b-yeiwo11kmh] {
    cursor: pointer;
    background-color: #eee;
    text-decoration: none;
}
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-k12twxzm35] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-k12twxzm35] {
    flex: 1;
}

.sidebar[b-k12twxzm35] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-k12twxzm35] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-start;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-k12twxzm35]  a, .top-row[b-k12twxzm35]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-k12twxzm35]  a:hover, .top-row[b-k12twxzm35]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-k12twxzm35]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-k12twxzm35] {
        display: none;
    }

    .top-row.auth[b-k12twxzm35] {
        justify-content: space-between;
    }

    .top-row[b-k12twxzm35]  a, .top-row[b-k12twxzm35]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-k12twxzm35] {
        flex-direction: row;
    }

    .sidebar[b-k12twxzm35] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-k12twxzm35] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-k12twxzm35]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-k12twxzm35], article[b-k12twxzm35] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-e3er7tvdld] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-e3er7tvdld] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-e3er7tvdld] {
    font-size: 1.1rem;
}

.oi[b-e3er7tvdld] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-e3er7tvdld] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-e3er7tvdld] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-e3er7tvdld] {
        padding-bottom: 1rem;
    }

    .nav-item[b-e3er7tvdld]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-e3er7tvdld]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-e3er7tvdld]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-e3er7tvdld] {
        display: none;
    }

    .collapse[b-e3er7tvdld] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Shared/PopContainer.razor.rz.scp.css */
.pop-container[b-88ta7oihdm] {
    position: relative;
}

.popconfirm[b-88ta7oihdm] {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: lightblue;
    width: 250px;
    position: absolute;
    top: -50px;
    padding: 10px;
    border-radius: 8px;
}
/* /Shared/RemoveFileAttachConfirm.razor.rz.scp.css */
.pop-container[b-82666mke2r] {
    position: relative;
}

.popconfirm[b-82666mke2r] {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: lightblue;
    width: 250px;
    position: absolute;
    top: -50px;
    padding: 10px;
    border-radius: 8px;
}
