@inherits LayoutComponentBase
@inject NavigationManager NM

<div class="page">
@*    <div class="sidebar">
        <NavMenu />
    </div>
*@
    <main>
        <div class="top-row px-4 bg-primary">
@*            <h3 class="display-4 text-black">Bike trip info</h3>*@
            <a class="display-4 text-black" href="\" >Bike trip info</a>
            <a class="text-white" href="login?returnUrl=@NM.ToBaseRelativePath(NM.Uri)" >Login</a>
            @*<a href="register_Not_ImplementedYet" >Register</a>
            I dont want people to be able to register them selves*@
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

